.services{
    background-image: url('./img/Rectangle\ 38.png');
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 550px  ;
    box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.15);
}
.dot-img{
    background-image: url('./img/Dots.png');
    background-repeat: no-repeat;
    background-size: contain;
    height:100%;

}
.services-row{
    padding:4rem 0;
}
.services-row h2{
    padding-top:30px;
    font-size: 55px;
    color:black;
    font-weight: 700;
    line-height: 62px;
}
.services-row p{
    font-size: 16px;

}
.services-row img{
    width:100%;

}

.view-btn{
    background-color:#E12B26;
    border-radius:30px ;
    padding:10px 40px;
    text-decoration: none;
    margin:10px 0px;
    color:white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border: 1px solid #E12B26;
    transition: 0.5s ease-in-out;

}
.view-btn:hover{
    background:transparent;
    border:1px solid #E12B26;
    transition:0.5s ease-in-out;
}
.services-row h3{
    font-size:20px;
    font-weight: 600;
    line-height: normal;
}
.services-row p{
    font-size: 16px;
    font-weight: 400;
}
.services-row a{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
.separataor{
    width:70px;
    height:3px;
    margin:10px 0px;
    background:#3D3D3D;
    position: relative;
    display: block;
   
}


.separator-square{
    position: absolute;
    width: 12px;
    height: 12px;
    background: #C6312C;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.services-text{
    background-color:white;
}
.services-text:hover{
    background-color:#E12B26;
    color:white;
    transition:0.5s ease-in-out;
}




/* team section */
.team-section-main{
    text-align: center;
}
.user{
    position:relative;
    background-color:#333333;
    min-width:100%;
    color:white;
    text-align:center;

}
.user h4{
    padding-top:10px;
}
.team-section img{
    width:100%;
}
.user-social{
    display:flex;
    list-style:none;
    position:absolute;
    transform: translate(-50%,-50%);
    top:0%;
    left:50%;
}
.user-social li{
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
    background-color:#E3524E;
    margin-right:7px;
}
.user-social li a i{
    color:white;
}
.user:hover{
    background-color:#C6312C;
    color:white;
}




/* our client section */
h2{
    text-align:center;
    padding: 20px;
  }
  /* Slider */
  
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }

  /* custom */
  .client-heading{
    font-size:30px;
    text-align:left;
  }
  .client-content{
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  .clients{
    background: #ECECEC; 
    border-radius: 0px 0px 0px 250px; 
  }

  @media only screen and (max-width: 768px) {
    .client-row{
        flex-direction: column;
    }
    .client-content{
        align-items: center;
        justify-content: center;
        
    }
    .clients{
        padding-top:10px !important;
        border-radius: 0;
    }
  }